<table class="table">
  <thead>
    <tr>
      <th [style.width.ch]="3">ID</th>
      <th [style.width.ch]="4">User</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody *ngIf="data.length">
    <tr
      *ngFor="let d of data; trackBy: byId"
      [class.line-through]="d.completed"
      [class.text-gray-400]="d.completed"
    >
      <td>{{ d.id }}</td>
      <td>{{ d.userId }}</td>
      <td>{{ d.title }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="data.length === 0">
    <tr>
      <td colspan="5">No users found</td>
    </tr>
  </tbody>
</table>
