<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
  <app-widget>
    <app-widget-title>Users</app-widget-title>
    <app-users-table></app-users-table>
  </app-widget>
  <app-widget>
    <app-widget-title>Todos</app-widget-title>
    <app-todos-table></app-todos-table>
  </app-widget>
  <app-widget>
    <app-widget-title>There's a counter below</app-widget-title>
    <app-counter></app-counter>
  </app-widget>
  <app-widget>
    <app-widget-title>Comments</app-widget-title>
    <app-comments-raw-output></app-comments-raw-output>
  </app-widget>
</div>
