@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-200;
  }

  html,
  body {
    @apply h-full;
  }

  ::-webkit-scrollbar {
    @apply w-3 h-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 hover:bg-slate-500 rounded-full;

    min-height: 2rem;
    min-width: 2rem;
    border: 3px solid white;
  }
}

@layer components {
  /* Increase specificity to override host styles */
  ng-icon[name] {
    @apply block;
  }

  .table {
    @apply text-left text-sm table-fixed w-full;

    min-width: calc(var(--min-column-width, 10ch) * var(--columns, 4));
  }

  .table tr {
    @apply hover:bg-slate-50;
  }

  .table thead {
    @apply sticky -top-3 bg-white shadow-sm;
  }

  .table :where(th, td) {
    @apply py-2 px-3 text-ellipsis whitespace-nowrap overflow-hidden box-content;
  }

  .table :where(th, td):first-child {
    @apply pl-5;
  }
}
